/* src/components/Calculator/Calculator.css */
.TaskBody {
  align-items: center;
  text-align: center;
  width: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  background-color: aliceblue;
  width: 100%;
  max-width: fit-content;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 2px solid black;
}


.solution input {
  height: 40px;
  width: 260px;
  margin: 5px 5px;
  border-radius: 5px;
  text-align: right;
  font-size: 20px;
}


.btns {
  display: flex;
  max-width: 280px;
  flex-wrap: wrap;
}

.btns .single-width {
  background-color: rgb(91, 91, 151);
  color: whitesmoke;
  padding: 20px;
  margin: 5px;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  text-align: center;
  transition: font-size 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}


.btns .dbl-wdth {
  background-color: rgb(78, 78, 129);
  color: white;
  text-align: center;
  padding: 20px;
  margin: 5px;
  border-radius: 5px;
  width: 90px;
  height: 20px;
  cursor: pointer;
  transition: font-size 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}


.btns .single-width:hover, 
.btns .dbl-wdth:hover {
  background-color: rgb(71, 71, 117);
  font-size: 20px;
  font-weight: 500;
  color: white;
  text-align: center;
}


@keyframes clickAnimation {
  0% {
    transform: scale(1);
    background-color: rgb(91, 91, 151);
  }
  50% {
    transform: scale(1.2);
    background-color: rgb(100, 100, 200);
  }
  100% {
    transform: scale(1);
    background-color: rgb(91, 91, 151);
  }
}

.btns .single-width.clicked {
  animation: clickAnimation 0.3s ease;
}

/* Theme changer styling */
.dark-theme .main {
  background-color: #333;  
}
.dark-theme .TaskBody {
  color: white;
  background-color:black;
}
.dark-theme .solution input {
  background-color: #666;
  color: white;
}
.dark-theme .btns .single-width {
  background-color: rgb(240, 240, 240);
  color: rgb(0, 0, 0);
}
.dark-theme .btns .dbl-wdth {
  background-color: rgb(240, 240, 240);
  color: rgb(0, 0, 0);
}
.dark-theme .btns .single-width:hover, 
.dark-theme .btns .dbl-wdth:hover {
  background-color: rgb(209, 209, 209);
  color: rgb(0, 0, 0);
}
.dark-theme .btns .single-width.clicked {
  animation: clickAnimation 0.3s ease;
  background-color: rgb(50, 50, 100);
}
