.head{
    background-color: rgb(216, 216, 216);
    /* border: 1px solid black; */
    top: 0;
    position: sticky;
    width: 100%;
    display: flex;
    color: black;
    z-index: 101;
}

.left-div{
    padding: 20px 30px;
    width: 50%;
    text-align: left;
}
.right-div{
    padding: 20px 30px;
    width: 50%;
    text-align: right;
}

/* Dark Theme style */
.dark-theme .head{
    background-color: rgb(34, 34, 34);
    color: whitesmoke;
}