.text-style {
    font-size: 1.125rem; /* equivalent to text-lg */
    color: #4a4a4a; /* equivalent to text-gray-800 */
  }
  .text-style:hover{
    text-decoration: underline;
    color: #000000; /* equivalent to text-gray-800 */
  }
  
  .dark .text-style {
    color: white; /* equivalent to dark:text-white */
  }
  