html, body {
  width: 100%;
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  max-width: 100vw;
}

.outDiv{
  width: 100%;
  display: flex;
  z-index: 100;
}

.task-Side{
  width: 50%;
  background-color: antiquewhite;
  padding: 50px 0px;
}

.comments-Side{
  width: 50%;
  background-color: rgb(221, 250, 215);
}

.comments-Side li{
  text-align: left;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 15px;
}

.cls-hst{
  display: flex;
  justify-content: center;
}


/* Dark Theme style */
.dark-theme .task-Side {
  background-color: rgb(104, 68, 22);
  color: white;
}

.dark-theme .comments-Side{
  background-color: rgb(44, 114, 30);
  color: white;
}

.dark-theme .comments-Side button{
  background-color: rgb(100, 17, 17);
  color: white;
}
.dark-theme .comments-Side button:hover{
  background-color: black;
  border: 1px solid white;
  color: white;
}